*{
    margin:0;
    border: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-image: url(../img/wall.png);
    height: 130px;
}

h1{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    padding:20px;
    color: #000000;
}


/* FONT */
.font{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-size: 25px;
}

.date{
    font-family: 'Sometype Mono', monospace;
    color:#7d7b79;
    font-size: 15px;
}


/* MAIN CONTENUTO PRINCIPALE */

body{
    background-image: url(../img/cork.png);
}

main{
    display: flex;
    justify-content: center;
}


.contenitore_grande{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width:70%;
    gap: 20px;
    padding:40px 20px;
} 

.contenitore_polaroid{
    
    width:30%;
    background-color: white;
    padding: 15px;
    gap:20px;
    position: relative;
    
    /* DEBUG */
    /* height: 100%; */
}


/* SEZIONE POLAROID */

.contenitore_polaroid  .img_polaroid {
    cursor: pointer;
    width:100%;
    
    
} 


.didascalia{
    padding:10px;
}

#pin{
    width:30px;
}


.puntina_rossa{
position: absolute;
top: 0;
left: 45%;

}

/*  GESTIONE ELEMENTI OVERLAY */

.overlay{
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    /* display: none; */
}


.d_none{
    display: none;
   
} 


.contenitore_click{
    position: relative;
}


#button{
    position: absolute;
    top:40px;
    left:45%;
    font-size: 25px;
    width: 90px;
    height: 40px;
    cursor: pointer;
}


.immagine_aperta{
    position: absolute;
    top:100px;
    left:30%;
    width:600px;
    height: 600px;
}




/* MEDIA QUERY */
/* versione tablet */
@media screen and (max-width:1300px)  {
    .contenitore_grande{
     
        max-width:70%;
      
    } 
    
    
        .contenitore_polaroid{
        
            width:45%;
          
        }


        .immagine_aperta{
           left:25%;
        }

        #button{
            left:45%;
        }

}


/* versione mobile */
@media screen and (max-width: 879px){

    
    .contenitore_grande{
     
        max-width:100%;
      
    } 
    
    
        .contenitore_polaroid{
        
            width:60%;
          
        }

        .immagine_aperta{
            left:10%;
         }


         #button{
            left:41%;
        }

    }