*{
    margin:0;
    border: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-image: url(../img/wall.png);
    height: 130px;
}

h1{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    padding:20px;
    color: #000000;
}


/* MAIN CONTENUTO PRINCIPALE */
main{
    background-image: url(../img/cork.png);
    width: 100%;
    /* DEBUG */
    /* height: 100%; */
}



 .contenitore_grande{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    
} 

.contenitore_polaroid{

    width:25%;
    background-color: white;
    margin:20px;
}


img{
    width:100%;
   
} 